.App {
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: aqua;
  color: blueviolet;
  border: 1px solid blue;
  border-radius: 8%;
  font-style: italic;
}

#input-name {
  margin-bottom: 15px;
  background: yellow;
}

.App {
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: aqua;
  color: blueviolet;
  border: 1px solid blue;
  border-radius: 8%;
  font-style: italic;
}

#input-name {
  margin-bottom: 15px;
  background: yellow;
}

